{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true 
        }
    },
    "rules": {
        "quotes": ["error", "single"],
        "array-bracket-spacing" : ["error", "always"]
    }
}
